.mb-4,
.my-4 {
    margin-bottom: 0 !important;
}

.role-admin,
.role-etudiant,
.role-prof,
.role-club,
.role-etud {
    font-size: 11px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 13px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.role-admin,.bg-admin {
    background-color: #ff5858;
}

.role-prof,.bg-prof {
    background-color: #9364e0;
}

.role-club,.bg-club {
    background-color: #6ee064;
}

.role-etudiant {
    background-color: #45aaf2;
}
.users-table.card-table tr td:last-child, .card-table tr th:last-child{
    padding-right: 1rem !important;
}
.card{
    margin-bottom: 1rem !important;
}


.mixitup-control-active{
    background-color: #467fcf;
    color: #fff;
}
.mixitup-control-active:hover{
    background-color: #316cbe;
    border-color: #2f66b3;
    color: #fff;
}

.files-uploaded {
    border: 2px solid #7da7d9;
}
.files-uploaded .files-uploaded-header {
    background-color: #7da7d9;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255,255,255);
    padding-left: 26px;
}
.files-uploaded .files-list {
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
}
.files-uploaded .divider {
    height: 1px;
    background-color: rgba(189,189,189,0.54);
}
.clearfix{
    clear: both;
}

.files-uploaded .single-file {
    padding: 5px;
    overflow: hidden;
}
.note-popover .note-popover-content, .note-toolbar {
    padding: 0 0 5px 5px;
    margin: 0;
    background-color: #f1f1f1;
}

.bg-licence{
    background-color: #7376f0 !important;
}

.bg-master{
    background-color: #00b06c !important;
}

.chat-content .msg-sent {
    max-width: 70%;
    float: left;
}
.chat-content .msg-recieved {
    float: right;
    max-width: 70%;
}

.chat-content .msg-sent .msg-time {
    line-height: 36px;
    color: #898989;
    margin-left: 10px;
    margin-right: 10px;
}
.chat-content .msg-sent p {
    margin-top: 7px;
    background-color: #f1f0f0;
    padding: 5px 10px;
    border-radius: 0px 10px 10px 10px;
}
.chat-content .msg-recieved .msg-time {
    float: right;
    color: #898989;
}
.chat-content .msg-recieved p {
    margin-top: 7px;
    background-color: #448ccb;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px 0px 10px 10px;
}
.chat-content .messages{
    overflow: hidden;
}
.reclamation-chat-content{
    height: -webkit-calc(50vh);
    overflow-x: auto;
    border: 1px solid #dddfe0;
}



/* @media (min-width: 768px){
    .d-md-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
} */

.nav-unread {
    position: absolute;
    top: 14px;
    right: 11px;
    background: #cd201f;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.notif-msg{
    margin:10px 5px;
}
.notif-msg:hover{
    cursor: pointer;
}