.navbar-brand.navbar-image {
  background-image: url(../../assets/img/logo.svg);
  width: 180px;
  height: 50px;
  margin-left: 17px;
  background-position: center;
  background-size: contain;
  padding: 0;
  background-repeat: no-repeat;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  /*border:1px solid #ddd;*/
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px;
}

.master1-circle {
  background-color: #ff6949;
  border-radius: 50%;
  color: #fff;
  padding-top: 7px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  margin-right: 10px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #fff;
}

.master2-circle {
  background-color: #00b06c;
  border-radius: 50%;
  color: #fff;
  padding-top: 7px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  margin-right: 10px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #fff;
}

.licence-circle {
  background-color: #7376f0;
  border-radius: 50%;
  color: #fff;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  margin-right: 10px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #fff;
}

.l1-circle {
  background-color: #ffcc42;
  /*width:25px;*/
  /*height:21px;*/
  border-radius: 50%;
  color: #fff;
  padding-left: 8px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-right: 8px;
  margin-right: 10px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #fff;
}

.nticien-circle {
  background-color: #448ccb;
  border-radius: 50%;
  color: #fff;
  padding-left: 9px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-right: 9px;
  margin-right: 10px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #fff;
}

.list-group-item.border-top {
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.icon-sidebar {
  font-size: 16px;
  padding-right: 10px;
}

.navbar-form .form-group:last-child {
  border: 1px solid #acacac;
  padding-left: 10px;
  margin-left: 100px;
  padding-top: 6px;
}

.btn.btn-default.navbar-btn.chat-btn {
  background: #fe5e3a;
  color: #fff;
  /*box-shadow:none;*/
  text-shadow: none;
  border: none;
  font-size: 19px;
  padding-left: 11px;
  padding-right: 11px;
  line-height: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-color:rgb(254, 94, 58);*/
  box-shadow: 0px 1px 5px 0px rgba(255, 76, 57, 0.4);
  transition: all 0.3s ease-in-out;
}

.btn.btn-default.navbar-btn.chat-btn:hover {
  box-shadow: 0px 4px 16px 0px rgba(255, 76, 57, 0.4);
}

.navbar-default .navbar-link {
  /*text-align:center;*/
  /*line-height:56px;*/
  margin-top: 10px;
  padding: 9px 9px;
  text-decoration: none;
}

.navbar-link.navbar-right.inscrire-btn {
  border: 1px solid #448ccb;
  background-color: #448ccb;
  color: #fff;
  /*padding-left:20px;*/
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 0px;
  transition: 0.3s all ease-out;
}

.navbar-link.navbar-right.inscrire-btn:hover {
  border: 1px solid #448ccb;
  background-color: #fff;
  /*transition:0.3s all ease-out;*/
  color: #448ccb;
  /*padding-left:20px;*/
  /*padding-left:14px;*/
  /*padding-right:14px;*/
  /*border-radius:32px;*/
}

@media (max-width: 991px) {
  .navbar-form .form-group:last-child {
    margin: 0;
    /*line-height:-16px;*/
    width: 195px;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group:last-child {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 991px) {
  #search-field {
    width: 92%;
  }
}

.text-center {
  text-align: center;
  /*margin:0 auto;*/
}

.nav-tabs>li {
  width: 25%;
  background-color: #fafbfd;
  transition: 0.3s all ease-out;
}

.share-zone .module-options {
  float: right;
  width: 25%;
  margin: 0;
  margin-right: 0px;
  margin-right: 3px;
  border: 1px solid #ccc;
  padding-top: 8px;
  padding-bottom: 7px;
  border-bottom: none;
}

.share-zone .status-title {
  text-align: center;
  margin-right: 1%;
  font-weight: bold;
  padding-left: 1%;
}

.share-zone .title {
  border: 1px solid #ccc;
  margin: 0;
  padding-bottom: 7px;
  width: 64.2%;
  padding-top: 7px;
  border-bottom: none;
  border-right: none;
  padding-left: 4px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  font-weight: bold;
  /*border:none;*/
  border-radius: 0;
  background: #ffffff;
  border-radius: 0px;
  color: #448ccb;
}

.nav-tabs>li.active>.icon,
.nav-tabs>li.active .icon>icon:focus,
.nav-tabs>li.active .icon {
  font-weight: bold;
}

.nav-tabs>li a {
  padding-top: 18px;
  padding-bottom: 18px;
  color: #161616;
  font-size: 16px;
  border-radius: 0;
  /*text-align:center;*/
  margin-right: 0;
}

.nav-tabs>li a:hover,
.nav-tabs>li a:focus {
  transition: .2s all;
}

.nav-tabs>li .icon {
  padding-right: 10px;
}

.share-zone {
  border-style: solid;
  border-width: 1px;
  border-color: #e5ecf4;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.share-zone #border-bottom {
  border-bottom: 2px solid #448ccb;
}

.share-zone .content {
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #e5ecf4;
  width: 100%;
  height: 150px;
  resize: none;
}

.share-zone .content:focus {
  outline: none;
}

.nav-tabs>li>a:hover {
  /*border:none;*/
  background-color: #fff;
  border-bottom: none;
  border-radius: 0;
}

.share-zone .title:focus,
.share-zone .title:hover {
  outline: none;
}

.share-zone .module-options:focus,
.share-zone .module-options:hover {
  outline: none;
}

.share-zone .icons-advanced:hover {
  color: #448ccb;
}

.share-zone .icons-advanced {
  font-size: 26px;
  margin-left: 27px;
  color: #8e8e8e;
  transition: 0.3s all;
}

.share-zone .icons-advanced:hover {
  color: #448ccb;
}

#publier-status{
  float: right;
  border: none;
  border-radius: 0;
  background-color: #448ccb;
  background-image: none;
  text-shadow: none;
  color: #fff;
  box-shadow: none;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 6px;
  padding-top: 6px;
}
#submitsondageform{

  border: none;
  border-radius: 0;
  background-color: #448ccb;
  background-image: none;
  text-shadow: none;
  color: #fff;
  box-shadow: none;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 6px;
  padding-top: 6px;
margin: 10px 0;
}

.side-bar {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 236, 244);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.status {
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.status .publisher-image {
  width: 55px;
  height: 55px;
  background-size: cover;
  float: left;
  border-radius: 50%;
  display: inline-block;
}

/* .status .publisher-info {
  /*padding-top:20px;
}
 */

.status .publisher-name {
  font-weight: bold;
  font-size: 16px;
}

.status .publisher-name a {
  color: #353535;
}

.status .publisher-name a:hover {
  color: #448ccb;
}

.status .icon-options {
  float: right;
}

.status .list-inline {
  width: 90%;
  float: left;
}

@media (max-width: 767px) {
  .status .list-inline {
    width: 100%;
    /*float:left;*/
  }
}

.status .status-options {
  margin-right: 10px;
  color: #7d7d7d;
  font-size: 16px;
}

.status .status-title {
  text-align: center;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.status hr {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60%;
}

.status .module {
  color: #448ccb;
}

.status .content {
  margin: 15px 20px 5px 20px;
  font-size: 16px;
}

.status .content-image {
  background-repeat: no-repeat;
  margin: 0 auto;
}

.status .like {
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .status .like {
    float: right;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.status .like a,
.status .comment a {
  color: #363636;
}

.status .like a:hover,
.status .comment a:hover {
  color: #448ccb;
}

.status .comment {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}

.status .like i {
  padding-right: 10px;
}

.status .comment i {
  padding-right: 10px;
  font-weight: bold;
}

.status .likes-number,
.status .comments-number {
  font-size: 15px;
  background: #7da7d9;
  color: #fff;
  padding: 3px 4px;
  margin-left: 7px;
  border-radius: 30px;
}

.list-group-item {
  padding: 0px;
}

@media (max-width: 767px) {
  .status .comment {
    /*float:right;*/
    margin-left: 0;
  }
}

.side-bar .list-anchor {
  display: block;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.side-bar .list-anchor:hover {
  background-color: #f4f4f4;
  border-left: 5px solid #448ccb;
}

.side-bar .list-anchor.active {
  background-color: #448ccb;
  border-left: 5px solid #448ccb;
  color: #fff;
}

.side-bar .list-anchor-mi:hover {
  background-color: #f4f4f4;
  border-left: 5px solid #ffcc42;
}

.side-bar .list-anchor-l3:hover {
  background-color: #f4f4f4;
  border-left: 5px solid #7376f0;
}

.side-bar .list-anchor-master1:hover {
  background-color: #f4f4f4;
  border-left: 5px solid #ff6949;
}

.side-bar .list-anchor-master2:hover {
  background-color: #f4f4f4;
  border-left: 5px solid #00b06c;
}

.side-bar li a:hover {
  text-decoration: none;
}

.side-bar .departement {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.panel-default>.panel-heading {
  background-image: none;
  background: #ececec;
}

.note-editor.note-frame {
  border-radius: 0px;
}

.btn-default {
  background-image: none;
}

.evenement {
  margin-bottom: 20px;
  padding: 5px;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 236, 244);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.label-default {
  background-color: #fff;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile+label {
  font-size: 16px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  background-color: rgb(248, 248, 248);
  display: inline-block;
}

.inputfile-6 label {
  color: #448ccb;
  border: 1px solid #448ccb;
  background-color: #f1e5e6;
  padding: 0;
}

.inputfile-6:focus+label,
.inputfile-6.has-focus+label,
.inputfile-6+label:hover {
  border-color: #135b99;
}

.inputfile-6+label span,
.inputfile-6+label strong {
  padding: 5px 13px;
  font-weight: 400;
}

label span {
  width: 141px;
  /*min-height:1em;*/
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  font-weight: normal !important;
}

label .commenter {
  width: 95px;
}

label strong {
  height: 100%;
  color: #ffffff;
  background-color: #448ccb;
  display: inline-block;
}

.inputfile-6:focus+label strong,
.inputfile-6.has-focus+label strong,
.inputfile-6+label:hover strong {
  background-color: #135b99;
  cursor: pointer;
}

.evenement.admin-bar {
  border-left: 4px solid #ff5858;
  border-radius: 0;
  padding-left: 10px;
}

.evenement.club-bar {
  border-left: 4px solid #6ee064;
  border-radius: 0;
  padding-left: 10px;
}

.evenement.prof-bar {
  border-left: 4px solid #9364e0;
  border-radius: 0;
  padding-left: 10px;
}

.evenement img {
/*   height: 50px;
  width: 50px; */
  margin-top: 3px;
  background-size: cover;
  display: inline-block;
  float: left;
  border: none;
}

.evenement .publisher {
  display: block;
}

.evenement li {
  display: inline-block;
  padding-left: 10px;
}

.role-admin {
  background-color: #ff5858;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 13px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.role-club {
  background-color: #6ee064;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 13px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.evenement .even-title {
  font-size: 20px;
  color: rgb(86, 86, 86);
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.3s all ease-in-out;
}

.role-prof {
  background-color: #9364e0;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 13px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.role-etud {
  background-color: #45aaf2;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 13px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.evenement .even-title:hover {
  color: #448ccb;
}

.comments .comment-pubisher-image {
  float: left;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comments .comment-like-number {
  font-size: 14px;
  background: #7da7d9;
  color: #fff;
  padding: 1px 6px;
  margin-left: 7px;
  border-radius: 30px;
}

.comments .single-comment {
  padding: 10px 20px;
  background-color: #fafbfd;
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

.add-comment-section .user-image {
  float: left;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
}

.add-comment-section form {
  display: inline-block;
  width: 82%;
  margin-top: 24px;
}

@media (max-width: 767px) {
  .add-comment-section form {
    width: 76%;
    margin-top: 13px;
  }
}

.add-comment-section .form-control {
  border-radius: 0;
  border: 1px solid #cacaca;
  box-shadow: none;
}

.add-comment-section .form-control:hover,
.add-comment-section .form-control:focus {
  border: 1px solid #448ccb;
  box-shadow: none;
}

.reiclamation-container {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 236, 244);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.files-uploaded {
  border: 2px solid #7da7d9;
  /*background-color:#ffbd31;*/
  /*color:#fff;*/
}

.files-uploaded .download-icon {
  font-size: 17px;
}

.files-uploaded .single-file {
  /*border-bottom:1px solid #eaeaea;*/
  padding: 5px;
  overflow: hidden;
}

.files-uploaded .divider {
  height: 1px;
  background-color: rgba(189, 189, 189, 0.54);
}

.files-uploaded .files-uploaded-header {
  background-color: #7da7d9;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(255, 255, 255);
  padding-left: 26px;
}

.files-uploaded .files-list {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.files-uploaded .download-file-link {
  color: #548ac9;
  transition: all 0.2s ease-in-out;
}

.files-uploaded .download-file-link:active,
.files-uploaded .download-file-link:hover {
  color: #232323;
}

.profile-img {
  width: 50px;
  height: 50px;
  background-repeat: repeat;
  background-size: contain;
  border: 2px solid #fff;
  border-radius: 50%;
}

.profile {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  z-index: 100;
  display: inline-block;
}

.profile-cover {
  height: 350px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.profile .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 2px;
  margin-top: -95px;
  display: inline-block;
  border: 3px solid #fff;
  box-shadow: 0px 2px 5px #dedede;
  overflow: hidden;
}

/* .profile .user-info {
  /*float:left;*/

/*width:67%;*/

/*margin-left:20px;
} */

.profile .social-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-links li {
  border-radius: 50%;
  padding-left: 3px;
  padding-right: 3px;
}

.social-links .fa {
  padding: 10px;
  font-size: 17px;
  width: 37px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  transition: all 0.3s;
}

.fa.fa-facebook-f {
  background: #3B5998;
}

.fa.fa-facebook-f:hover {
  box-shadow: 0px 3px 3px rgba(59, 89, 152, 0.68);
}

.fa.fa-instagram {
  background: #e4405f;
}

.fa.fa-instagram:hover {
  box-shadow: 0px 3px 3px rgba(228, 64, 95, 0.68);
}

.fa.fa-twitter {
  background: #55acee;
}

.fa.fa-twitter:hover {
  box-shadow: 0px 3px 3px rgba(85, 172, 238, 0.68);
}

.fa.fa-youtube {
  background: #cd201f;
}

.fa.fa-youtube:hover {
  box-shadow: 0px 3px 3px rgba(205, 32, 31, 0.68);
}

.profile .btn {
  text-align: left;
}

.profile .btn i {
  margin-right: 12px;
  margin-left: 21px;
}

.profile .btn {
  text-shadow: none;
  color: #fff;
  border: none;
  transition: all 0.3s;
}

.profile .profile-img:hover .upload-profile-picture {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.upload-profile-picture {
  width: 200px;
  height: 200px;
  background-color: rgba(147, 100, 224, 0.8);
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -o-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uploader-photo {
  color: #5f35a4;
  font-weight: normal;
  background: #ffffff;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.uploader-photo:hover {
  box-shadow: 0px 3px 10px #43217b9e;
}

.profile-cover .mask {
  height: 50px;
  width: 22%;
  float: right;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profile-cover:hover .mask {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

@media (max-width: 767px) {
  .profile .btn-block {
    width: 73%;
    margin: 5px auto;
  }
}

.pub-header {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 236, 244);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.pub-header .pub-select {
  border: none;
  border: 1px solid #e0e0e0;
  display: inline;
  border-radius: 1px;
}

.pub-select option {
  background: #ffffff;
  font-size: 16px;
}

.pub-select.form-control {
  width: 40%;
}

@media (max-width: 767px) {
  .pub-header {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .add-comment-section .user-image {
    margin: 10px;
  }
}

.profile-link {
  padding: 0;
  border: 2px solid #448ccb;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  float: left;
}

@media (max-width: 767px) {
  .profile-link {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .profile {
    margin: 0 5px;
  }
}

@media (max-width: 767px) {
  .pub-header {
    margin-left: -9px;
    margin-right: -9px;
  }
}

@media (max-width: 767px) {
  .dropdown {
    display: inline-block;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .profile-cover .mask {
    width: 83%;
  }
}

@media (max-width: 1199px) {
  .list-unstyled dropdown-menu dropdown-menu-right {
    margin-top: 20px;
  }
}

html,
body {
  height: 100%;
}

.users-chat {
  overflow-x: auto;
  height: calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
  height: -webkit-calc(100vh - 80px);
}

.chat-container {
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 236, 244);
  /*box-shadow:0px 2px 8px 0px rgba(0,;*/
}

.avatar {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  display: inline-block;
  background: #ced4da no-repeat center/cover;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 600;
  vertical-align: bottom;
  font-size: .875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
}

.avatar-lg {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.25rem;
}

.avatar-xl {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.75rem;
}

.avatar-xxl {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
}

.avatar-status {
  position: absolute;
  right: 4px;
  bottom: 0px;
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  background: #868e96;
  border-radius: 50%;
}

.bg-red {
  background-color: #cd201f !important;
}

.bg-green {
  background-color: #5eba00 !important;
}

.users-chat .user-name {
  line-height: 40px;
  margin-left: 10px;
  font-size: 16px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: rgba(0, 0, 0, .05);
  color: #1d2129;
  border-radius: 0;
}

.users-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.users-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.users-chat::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.users-chat::-webkit-scrollbar-thumb {
  background-color: #448ccb;
}

.nav>li>a:focus,
.nav>li>a:hover {
  border-radius: 0;
}

.chat-content .msg-sent {
  max-width: 70%;
  float: left;
}

.chat-content .msg-sent p {
  margin-top: 7px;
  background-color: #f1f0f0;
  padding: 5px 10px;
  border-radius: 0px 10px 10px 10px;
}

.chat-content .msg-sent .msg-time {
  line-height: 36px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
}

.chat-content .msg-recieved {
  max-width: 70%;
  float: right;
}

.chat-content .msg-recieved p {
  margin-top: 7px;
  background-color: #448ccb;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px 0px 10px 10px;
}

.chat-content .msg-recieved .msg-time {
  float: right;
  color: #898989;
}

.chat-content .user-info-header {
  padding: 10px 0px;
  border-bottom: 3px solid #448ccb;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
}

.chat-content .messages {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  /*padding-bottom:20px;*/
  margin-bottom: 42px;
  overflow: hidden;
}

.send-msg {
  position: fixed;
  z-index: 130;
  bottom: 0;
  /*width:100%;*/
  background: #fff;
}

.chat-content .send-msg textarea {
  width: 87%;
  display: inline-block;
  border: 1px solid rgba(254, 94, 58, 0.32);
  border-radius: 30px 0 0 30px;
  margin: 10px 0 5px 10px;
  resize: none;
  /*padding:8px 5px 5px 10px;*/
  box-shadow: none;
}

.chat-content .send-msg textarea:hover,
.chat-content .send-msg textarea:focus {
  border: 1px solid #fe5e3a;
}

.chat-content .send-btn {
  background-color: #fe5e3a;
  color: #fff;
  margin-top: -36px;
  border-radius: 0 30px 30px 0;
  border: none;
  padding: 6px 15px 6px 15px;
  font-weight: normal;
  font-size: 16px;
  text-shadow: none;
}

.memoire-container .memoire {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 236, 244);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 25px;
}

.memoire-container .memoire-thumb {
  display: inline-block;
  width: 200px;
  height: 291px;
  background-repeat: no-repeat;
  background-size: cover;
  /*float:left;*/
}

@media (min-width: 768px) {
  .memoire-container .memoire-thumb {
    float: left;
  }
}

.memoire-container .memoire-thumb .memoire-titre {
  margin-top: 84px;
  margin-left: 12px;
  margin-right: 11px;
  margin-bottom: 11px;
  height: 67%;
  display: table;
  width: 89%;
}

.memoire-container .memoire-thumb .memoire-titre h3 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.memoire-container .memoire-contenu {
  display: inline-block;
  margin-left: 10px;
  /*width:calc( 100% - 215px);*/
}

.memoire-container .memoire-contenu h3 {
  display: block;
}

.memoire-container button {
  color: #448ccb;
  transition: all 0.3s;
}

.memoire-container button:hover {
  color: #212255;
  text-decoration: none;
}

.memoire-container .pub-select {
  width: 65%;
}

.memoire-container .shuffle li {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 13px;
  border: 2px solid #467fcf;
  color: #467fcf;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.memoire-container .shuffle .licence-title {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 13px;
  border: 2px solid #7376f0;
  color: #7376f0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.memoire-container .shuffle .master-title {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 13px;
  border: 2px solid #00b06c;
  color: #00b06c;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.memoire-container .shuffle .selected {
  background: #467fcf;
  color: #fff;
}

.memoire-container .shuffle .selected:hover {
  background-color: #316cbe;
  border-color: #2f66b3;
  color: #fff;
}

.memoire-container .shuffle .selected.licence-title {
  background: #7376f0;
  color: #fff;
  border-color: #7376f0;
}

.memoire-container .shuffle .selected.master-title {
  background: #00b06c;
  color: #fff;
  border-color: #00b06c;
}

.memoire-container .order-btn {
  border-radius: 3px;
  color: #448ccb;
  border: 2px solid #448ccb;
  margin-left: 10px;
  padding: 4px 13px;
  cursor: pointer;
}

.memoire-container .order-btn.mixitup-control-active {
  background-color: #448ccb;
  color: #fff;
  text-shadow: none;
}

@media (max-width: 767px) {
  .memoire-row {
    /*margin-right:0;*/
    margin-left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #495057 !important;
}

.btn-azure {
  color: #fff !important;
  background-color: #45aaf2;
  border-color: #45aaf2;
}

.btn-azure:hover {
  color: #fff;
  background-color: #219af0;
  border-color: #1594ef;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .03em;
  font-size: 14px;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 14px;
  /* line-height: 1.84615385; */
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary {
  color: #495057;
  background-color: #fff;
  border-color: rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
@font-face {
  font-family: "feather";
  src: url("./fonts/feather/feather-webfont.eot");
  /* IE9*/
  src: url("./fonts/feather/feather-webfont.eot") format("embedded-opentype"), 
  url("../fonts/feather/feather-webfont.woff") format("woff"),
   url("../fonts/feather/feather-webfont.ttf") format("truetype"), 
   url("../fonts/feather/feather-webfont.svg") format("svg");
  /* iOS 4.1- */
}
.notification.dropdown-menu-arrow.dropdown-menu-right:before, 
.notification.dropdown-menu-arrow.dropdown-menu-right:after {
  left: auto;
  right: 19px;
}
.notification.dropdown-menu {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  min-width: 12rem;
}

.notification.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 14px;
  color: #495057;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
}
.notification.dropdown-menu-arrow:before {
  position: absolute;
  top: -6px;
  left: 19px;
  display: inline-block;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 40, 100, 0.12);
  border-left: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.notification.dropdown-menu-arrow:after {
  position: absolute;
  top: -5px;
  left: 19px;
  display: inline-block;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  content: '';
}

.fe {
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-activity:before {
  content: "\e900";
}

.fe-airplay:before {
  content: "\e901";
}

.fe-alert-circle:before {
  content: "\e902";
}

.fe-alert-octagon:before {
  content: "\e903";
}

.fe-alert-triangle:before {
  content: "\e904";
}

.fe-align-center:before {
  content: "\e905";
}

.fe-align-justify:before {
  content: "\e906";
}

.fe-align-left:before {
  content: "\e907";
}

.fe-align-right:before {
  content: "\e908";
}

.fe-anchor:before {
  content: "\e909";
}

.fe-aperture:before {
  content: "\e90a";
}

.fe-arrow-down:before {
  content: "\e90b";
}

.fe-arrow-down-circle:before {
  content: "\e90c";
}

.fe-arrow-down-left:before {
  content: "\e90d";
}

.fe-arrow-down-right:before {
  content: "\e90e";
}

.fe-arrow-left:before {
  content: "\e90f";
}

.fe-arrow-left-circle:before {
  content: "\e910";
}

.fe-arrow-right:before {
  content: "\e911";
}

.fe-arrow-right-circle:before {
  content: "\e912";
}

.fe-arrow-up:before {
  content: "\e913";
}

.fe-arrow-up-circle:before {
  content: "\e914";
}

.fe-arrow-up-left:before {
  content: "\e915";
}

.fe-arrow-up-right:before {
  content: "\e916";
}

.fe-at-sign:before {
  content: "\e917";
}

.fe-award:before {
  content: "\e918";
}

.fe-bar-chart:before {
  content: "\e919";
}

.fe-bar-chart-2:before {
  content: "\e91a";
}

.fe-battery:before {
  content: "\e91b";
}

.fe-battery-charging:before {
  content: "\e91c";
}

.fe-bell:before {
  content: "\e91d";
}

.fe-bell-off:before {
  content: "\e91e";
}

.fe-bluetooth:before {
  content: "\e91f";
}

.fe-bold:before {
  content: "\e920";
}

.fe-book:before {
  content: "\e921";
}

.fe-book-open:before {
  content: "\e922";
}

.fe-bookmark:before {
  content: "\e923";
}

.fe-box:before {
  content: "\e924";
}

.fe-briefcase:before {
  content: "\e925";
}

.fe-calendar:before {
  content: "\e926";
}

.fe-camera:before {
  content: "\e927";
}

.fe-camera-off:before {
  content: "\e928";
}

.fe-cast:before {
  content: "\e929";
}

.fe-check:before {
  content: "\e92a";
}

.fe-check-circle:before {
  content: "\e92b";
}

.fe-check-square:before {
  content: "\e92c";
}

.fe-chevron-down:before {
  content: "\e92d";
}

.fe-chevron-left:before {
  content: "\e92e";
}

.fe-chevron-right:before {
  content: "\e92f";
}

.fe-chevron-up:before {
  content: "\e930";
}

.fe-chevrons-down:before {
  content: "\e931";
}

.fe-chevrons-left:before {
  content: "\e932";
}

.fe-chevrons-right:before {
  content: "\e933";
}

.fe-chevrons-up:before {
  content: "\e934";
}

.fe-chrome:before {
  content: "\e935";
}

.fe-circle:before {
  content: "\e936";
}

.fe-clipboard:before {
  content: "\e937";
}

.fe-clock:before {
  content: "\e938";
}

.fe-cloud:before {
  content: "\e939";
}

.fe-cloud-drizzle:before {
  content: "\e93a";
}

.fe-cloud-lightning:before {
  content: "\e93b";
}

.fe-cloud-off:before {
  content: "\e93c";
}

.fe-cloud-rain:before {
  content: "\e93d";
}

.fe-cloud-snow:before {
  content: "\e93e";
}

.fe-code:before {
  content: "\e93f";
}

.fe-codepen:before {
  content: "\e940";
}

.fe-command:before {
  content: "\e941";
}

.fe-compass:before {
  content: "\e942";
}

.fe-copy:before {
  content: "\e943";
}

.fe-corner-down-left:before {
  content: "\e944";
}

.fe-corner-down-right:before {
  content: "\e945";
}

.fe-corner-left-down:before {
  content: "\e946";
}

.fe-corner-left-up:before {
  content: "\e947";
}

.fe-corner-right-down:before {
  content: "\e948";
}

.fe-corner-right-up:before {
  content: "\e949";
}

.fe-corner-up-left:before {
  content: "\e94a";
}

.fe-corner-up-right:before {
  content: "\e94b";
}

.fe-cpu:before {
  content: "\e94c";
}

.fe-credit-card:before {
  content: "\e94d";
}

.fe-crop:before {
  content: "\e94e";
}

.fe-crosshair:before {
  content: "\e94f";
}

.fe-database:before {
  content: "\e950";
}

.fe-delete:before {
  content: "\e951";
}

.fe-disc:before {
  content: "\e952";
}

.fe-dollar-sign:before {
  content: "\e953";
}

.fe-download:before {
  content: "\e954";
}

.fe-download-cloud:before {
  content: "\e955";
}

.fe-droplet:before {
  content: "\e956";
}

.fe-edit:before {
  content: "\e957";
}

.fe-edit-2:before {
  content: "\e958";
}

.fe-edit-3:before {
  content: "\e959";
}

.fe-external-link:before {
  content: "\e95a";
}

.fe-eye:before {
  content: "\e95b";
}

.fe-eye-off:before {
  content: "\e95c";
}

.fe-facebook:before {
  content: "\e95d";
}

.fe-fast-forward:before {
  content: "\e95e";
}

.fe-feather:before {
  content: "\e95f";
}

.fe-file:before {
  content: "\e960";
}

.fe-file-minus:before {
  content: "\e961";
}

.fe-file-plus:before {
  content: "\e962";
}

.fe-file-text:before {
  content: "\e963";
}

.fe-film:before {
  content: "\e964";
}

.fe-filter:before {
  content: "\e965";
}

.fe-flag:before {
  content: "\e966";
}

.fe-folder:before {
  content: "\e967";
}

.fe-folder-minus:before {
  content: "\e968";
}

.fe-folder-plus:before {
  content: "\e969";
}

.fe-git-branch:before {
  content: "\e96a";
}

.fe-git-commit:before {
  content: "\e96b";
}

.fe-git-merge:before {
  content: "\e96c";
}

.fe-git-pull-request:before {
  content: "\e96d";
}

.fe-github:before {
  content: "\e96e";
}

.fe-gitlab:before {
  content: "\e96f";
}

.fe-globe:before {
  content: "\e970";
}

.fe-grid:before {
  content: "\e971";
}

.fe-hard-drive:before {
  content: "\e972";
}

.fe-hash:before {
  content: "\e973";
}

.fe-headphones:before {
  content: "\e974";
}

.fe-heart:before {
  content: "\e975";
}

.fe-help-circle:before {
  content: "\e976";
}

.fe-home:before {
  content: "\e977";
}

.fe-image:before {
  content: "\e978";
}

.fe-inbox:before {
  content: "\e979";
}

.fe-info:before {
  content: "\e97a";
}

.fe-instagram:before {
  content: "\e97b";
}

.fe-italic:before {
  content: "\e97c";
}

.fe-layers:before {
  content: "\e97d";
}

.fe-layout:before {
  content: "\e97e";
}

.fe-life-buoy:before {
  content: "\e97f";
}

.fe-link:before {
  content: "\e980";
}

.fe-link-2:before {
  content: "\e981";
}

.fe-linkedin:before {
  content: "\e982";
}

.fe-list:before {
  content: "\e983";
}

.fe-loader:before {
  content: "\e984";
}

.fe-lock:before {
  content: "\e985";
}

.fe-log-in:before {
  content: "\e986";
}

.fe-log-out:before {
  content: "\e987";
}

.fe-mail:before {
  content: "\e988";
}

.fe-map:before {
  content: "\e989";
}

.fe-map-pin:before {
  content: "\e98a";
}

.fe-maximize:before {
  content: "\e98b";
}

.fe-maximize-2:before {
  content: "\e98c";
}

.fe-menu:before {
  content: "\e98d";
}

.fe-message-circle:before {
  content: "\e98e";
}

.fe-message-square:before {
  content: "\e98f";
}

.fe-mic:before {
  content: "\e990";
}

.fe-mic-off:before {
  content: "\e991";
}

.fe-minimize:before {
  content: "\e992";
}

.fe-minimize-2:before {
  content: "\e993";
}

.fe-minus:before {
  content: "\e994";
}

.fe-minus-circle:before {
  content: "\e995";
}

.fe-minus-square:before {
  content: "\e996";
}

.fe-monitor:before {
  content: "\e997";
}

.fe-moon:before {
  content: "\e998";
}

.fe-more-horizontal:before {
  content: "\e999";
}

.fe-more-vertical:before {
  content: "\e99a";
}

.fe-move:before {
  content: "\e99b";
}

.fe-music:before {
  content: "\e99c";
}

.fe-navigation:before {
  content: "\e99d";
}

.fe-navigation-2:before {
  content: "\e99e";
}

.fe-octagon:before {
  content: "\e99f";
}

.fe-package:before {
  content: "\e9a0";
}

.fe-paperclip:before {
  content: "\e9a1";
}

.fe-pause:before {
  content: "\e9a2";
}

.fe-pause-circle:before {
  content: "\e9a3";
}

.fe-percent:before {
  content: "\e9a4";
}

.fe-phone:before {
  content: "\e9a5";
}

.fe-phone-call:before {
  content: "\e9a6";
}

.fe-phone-forwarded:before {
  content: "\e9a7";
}

.fe-phone-incoming:before {
  content: "\e9a8";
}

.fe-phone-missed:before {
  content: "\e9a9";
}

.fe-phone-off:before {
  content: "\e9aa";
}

.fe-phone-outgoing:before {
  content: "\e9ab";
}

.fe-pie-chart:before {
  content: "\e9ac";
}

.fe-play:before {
  content: "\e9ad";
}

.fe-play-circle:before {
  content: "\e9ae";
}

.fe-plus:before {
  content: "\e9af";
}

.fe-plus-circle:before {
  content: "\e9b0";
}

.fe-plus-square:before {
  content: "\e9b1";
}

.fe-pocket:before {
  content: "\e9b2";
}

.fe-power:before {
  content: "\e9b3";
}

.fe-printer:before {
  content: "\e9b4";
}

.fe-radio:before {
  content: "\e9b5";
}

.fe-refresh-ccw:before {
  content: "\e9b6";
}

.fe-refresh-cw:before {
  content: "\e9b7";
}

.fe-repeat:before {
  content: "\e9b8";
}

.fe-rewind:before {
  content: "\e9b9";
}

.fe-rotate-ccw:before {
  content: "\e9ba";
}

.fe-rotate-cw:before {
  content: "\e9bb";
}

.fe-rss:before {
  content: "\e9bc";
}

.fe-save:before {
  content: "\e9bd";
}

.fe-scissors:before {
  content: "\e9be";
}

.fe-search:before {
  content: "\e9bf";
}

.fe-send:before {
  content: "\e9c0";
}

.fe-server:before {
  content: "\e9c1";
}

.fe-settings:before {
  content: "\e9c2";
}

.fe-share:before {
  content: "\e9c3";
}

.fe-share-2:before {
  content: "\e9c4";
}

.fe-shield:before {
  content: "\e9c5";
}

.fe-shield-off:before {
  content: "\e9c6";
}

.fe-shopping-bag:before {
  content: "\e9c7";
}

.fe-shopping-cart:before {
  content: "\e9c8";
}

.fe-shuffle:before {
  content: "\e9c9";
}

.fe-sidebar:before {
  content: "\e9ca";
}

.fe-skip-back:before {
  content: "\e9cb";
}

.fe-skip-forward:before {
  content: "\e9cc";
}

.fe-slack:before {
  content: "\e9cd";
}

.fe-slash:before {
  content: "\e9ce";
}

.fe-sliders:before {
  content: "\e9cf";
}

.fe-smartphone:before {
  content: "\e9d0";
}

.fe-speaker:before {
  content: "\e9d1";
}

.fe-square:before {
  content: "\e9d2";
}

.fe-star:before {
  content: "\e9d3";
}

.fe-stop-circle:before {
  content: "\e9d4";
}

.fe-sun:before {
  content: "\e9d5";
}

.fe-sunrise:before {
  content: "\e9d6";
}

.fe-sunset:before {
  content: "\e9d7";
}

.fe-tablet:before {
  content: "\e9d8";
}

.fe-tag:before {
  content: "\e9d9";
}

.fe-target:before {
  content: "\e9da";
}

.fe-terminal:before {
  content: "\e9db";
}

.fe-thermometer:before {
  content: "\e9dc";
}

.fe-thumbs-down:before {
  content: "\e9dd";
}

.fe-thumbs-up:before {
  content: "\e9de";
}

.fe-toggle-left:before {
  content: "\e9df";
}

.fe-toggle-right:before {
  content: "\e9e0";
}

.fe-trash:before {
  content: "\e9e1";
}

.fe-trash-2:before {
  content: "\e9e2";
}

.fe-trending-down:before {
  content: "\e9e3";
}

.fe-trending-up:before {
  content: "\e9e4";
}

.fe-triangle:before {
  content: "\e9e5";
}

.fe-truck:before {
  content: "\e9e6";
}

.fe-tv:before {
  content: "\e9e7";
}

.fe-twitter:before {
  content: "\e9e8";
}

.fe-type:before {
  content: "\e9e9";
}

.fe-umbrella:before {
  content: "\e9ea";
}

.fe-underline:before {
  content: "\e9eb";
}

.fe-unlock:before {
  content: "\e9ec";
}

.fe-upload:before {
  content: "\e9ed";
}

.fe-upload-cloud:before {
  content: "\e9ee";
}

.fe-user:before {
  content: "\e9ef";
}

.fe-user-check:before {
  content: "\e9f0";
}

.fe-user-minus:before {
  content: "\e9f1";
}

.fe-user-plus:before {
  content: "\e9f2";
}

.fe-user-x:before {
  content: "\e9f3";
}

.fe-users:before {
  content: "\e9f4";
}

.fe-video:before {
  content: "\e9f5";
}

.fe-video-off:before {
  content: "\e9f6";
}

.fe-voicemail:before {
  content: "\e9f7";
}

.fe-volume:before {
  content: "\e9f8";
}

.fe-volume-1:before {
  content: "\e9f9";
}

.fe-volume-2:before {
  content: "\e9fa";
}

.fe-volume-x:before {
  content: "\e9fb";
}

.fe-watch:before {
  content: "\e9fc";
}

.fe-wifi:before {
  content: "\e9fd";
}

.fe-wifi-off:before {
  content: "\e9fe";
}

.fe-wind:before {
  content: "\e9ff";
}

.fe-x:before {
  content: "\ea00";
}

.fe-x-circle:before {
  content: "\ea01";
}

.fe-x-square:before {
  content: "\ea02";
}

.fe-zap:before {
  content: "\ea03";
}

.fe-zap-off:before {
  content: "\ea04";
}

.fe-zoom-in:before {
  content: "\ea05";
}

.fe-zoom-out:before {
  content: "\ea06";
}
.btn-success {
  color: #fff;
  background-color: #5eba00;
  border-color: #5eba00;
}
.btn-success:hover {
  color: #fff;
  background-color: #4b9400;
  border-color: #448700;
}
.event {
  padding:10px;
  border-style:solid;
  border-width:1px;
  border-color:rgb(229, 236, 244);
  background-color:rgb(255, 255, 255);
  box-shadow:0px 2px 8px 0px rgba(0, 0, 0, 0.05);
}
.side-bar .list-anchor.active:hover{
  background-color: #60acef;
}
.btn.btn-default.navbar-btn.admin-btn {
  background: #448ccb;
  color: #fff;
  /* box-shadow: none; */
  text-shadow: none;
  border: none;
  font-size: 19px;
  padding-left: 11px;
  padding-right: 11px;
  line-height: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: rgb(254, 94, 58); */
  box-shadow: 0px 1px 5px 0px rgba(68, 140, 203, 0.4);
  transition: all 0.3s ease-in-out;
  margin-right:10px;
}
.navigation-clean-search.navbar-default .navbar-nav > li > a {
  color: #465765;
}
.navigation-clean-search.navbar .navbar-nav > li > a {
  padding-left: 18px;
  padding-right: 18px;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #467fcf;
  border-color: #467fcf;
}
.btn-outline-primary {
  color: #467fcf;
  background-color: transparent;
  background-image: none;
  border-color: #467fcf;
}
.share-zone .sondage-list {
  width: 80%;
  margin: 0 auto;
}
.form-label{
  font-size: 13px;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}


input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #467fcf;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #f5f7fb, 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #d4e1f4;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #868e96;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}
.custom-controls-stacked{
margin-top: 20px;
margin-bottom: 10px;
}

.custom-control-label {
  margin-bottom: 0;
  margin-left: 30px;
  font-weight: 400;
}

.custom-control-label::before {
  margin-left: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}

.custom-control-label::after {
  margin-left: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 3px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #467fcf;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #467fcf;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(70, 127, 207, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(70, 127, 207, 0.5);
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #467fcf;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(70, 127, 207, 0.5);
}

.custom-radio{
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 7px 2px;
}
.progress-bar{
  background-image: none;
}
.progress {
  position: relative;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.703125rem;
  background-color: #e9ecef;
  border-radius: 3px;
}
.progress-xs, .progress-xs .progress-bar {
  height: 3px;
}
.bg-blue {
  background-color: #467fcf !important;
}
.sondage-result{
  margin: 20px 0;
}
.btn-sm {
  padding: 2px 10px 2px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.reclamation-chat-content .messages {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 20px; */
  margin-bottom: 10px;
  overflow: hidden;
}
.reclamation-chat-content .msg-sent {
  max-width: 70%;
  float: left;
}

.reclamation-chat-content .msg-sent p {
  margin-top: 7px;
  background-color: #f1f0f0;
  padding: 5px 10px;
  border-radius: 0px 10px 10px 10px;
}

.reclamation-chat-content .msg-sent .msg-time {
  line-height: 36px;
  color: #898989;
  margin-left: 10px;
  margin-right: 10px;
}

.reclamation-chat-content .msg-recieved {
  max-width: 70%;
  float: right;
}
.reclamation-chat-content .msg-recieved p {
  margin-top: 7px;
  background-color: #448ccb;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px 0px 10px 10px;
}

.reclamation-chat-content .msg-recieved .msg-time {
  float: right;
  color: #898989;
}

.reclamation-chat-content .user-info-header {
  padding: 10px 0px;
  border-bottom: 3px solid #448ccb;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
}

.dropdown-toggle:active{
  text-decoration: none;
}

a:hover, a:focus {
  color: #216a94;
  text-decoration: none;
}
#facebook-input {
  background: #3b5998;
  color: #fff;
  border: none;
}

#youtube-input {
  background: #cd201f;
  color: #fff;
  border: none;
  font-size: 16px;
}

#insta-input {
  background: #e4405f;
  color: #fff;
  border: none;
}

#twitter-input {
  background: #55acee;
  color: #fff;
  border: none;
}